body {
    background-color: #222;
    color: #4357AD;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #4357AD;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    padding-bottom: 100px;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#search {
    width: 90%;
    padding: 10px;
    border: 1px solid #4357AD;
    border-radius: 5px;
    font-size: 16px;
}

.location-list {
    list-style-type: none;
    padding: 0;
    display: ruby;
}

.location-list li {
    background-color: #444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.location-list li:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.weather-info {
    background-color: #fdecec;
    color: #4357AD;
    padding: 20px;
    border-radius: 8px;

    width: 40%;
    height: 40%;

    text-align: center;
    font-family: Arial, sans-serif;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.weather-info-left {

}

.weather-info-right {

}


.weather-info-hours {
    border: solid 1px;
    padding: 5px;
    margin: 10px 0;
    border-left: solid 10px;
    border-top: dotted;
    border-bottom: 0;
}

.weather-hours {
    display: ruby;
}

.weather-info-detailed {
    border: solid 1px;
    padding: 5px;
}